---
import Icon from "astro-icon";
import WhatWeOfferCard from "../WhatWeOfferCard.astro";
import whatWeOffer from "../../resources/what-we-offer.json";
import { twMerge } from "tailwind-merge";

interface Props {
  id?: string;
  containerClasses?: string;
}

const { id, containerClasses } = Astro.props;
---

<section
  id={id}
  class={twMerge("section-padding relative pt-20", containerClasses)}
>
  <div>
    <Icon
      name="blocks/rocket"
      class="absolute left-2 top-5 h-16 lg:left-4 lg:top-6 lg:block lg:h-20 xl:top-10 xl:h-36 2xl:left-32"
    />
    <h3 class="px-4 text-center font-bold sm:px-8 lg:px-14 xl:px-40 2xl:px-52">
      Comprendere e anticipare i cambiamenti per prepararsi alle nuove sfide
      globali.
    </h3>
    <h4 class="mt-4 px-4 text-center sm:px-6 lg:px-12 xl:px-40 2xl:px-72">
      Il nostro lavoro è progettare e sviluppare soluzioni informatiche e
      tecnologiche su misura che ti aiutano a migliorare le performance della
      tua azienda. Lo facciamo mettendo in pratica il nostro metodo: perché lo
      abbiamo messo a punto negli anni e sappiamo che funziona al 100%.
    </h4>

    <div
      class="just mt-16 flex flex-col items-center space-y-12 xl:grid xl:grid-cols-4 xl:items-baseline xl:gap-16 xl:space-y-0"
    >
      {
        whatWeOffer.map((offer) => (
          <WhatWeOfferCard
            title={offer.title}
            icon={offer.icon}
            iconClasses={offer.iconClasses}
            paragraphs={offer.paragraphs}
          />
        ))
      }
    </div>
  </div>
  <div class="mt-20 flex flex-col items-center">
    <div class="relative">
      <h3 class="px-4 text-center font-bold sm:px-10 lg:px-14 2xl:px-52">
        Hai in mente un'idea ma non sai come realizzarla?
      </h3>
    </div>
    <a
      href="tel:todo"
      class="btn mt-12 bg-soluter-blue-500 px-8 py-1 text-white hover:bg-soluter-blue-500/90"
      >Chiamaci!</a
    >
  </div>
</section>
