---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";
import Footer from "../components/Footer.astro";
import markets from "../resources/markets.json";
import TargetMarket from "../components/TargetMarket.astro";
import faqs from "../resources/faq.json";
import TargetFaq from "../components/TargetFaq.astro";
---

<Layout title="Soluter.">
  <main class="transition-all duration-200">
    <nav class="flex justify-between px-6 py-6 sm:px-10 md:px-14">
      <Icon name="logo" class="w-64 lg:w-72 2xl:w-96" />
    </nav>
    <section
      class="mt-6 flex items-end justify-center px-6 sm:mt-4 sm:px-10 md:px-14"
    >
      <div class="inline-flex items-end">
        <Icon name="green-rectangle" class="hidden h-5 xl:block" />
        <Icon name="purple-rectangle" class="ml-12 hidden w-5 lg:block" />
        <Icon name="orange-square" class="ml-2 h-5 sm:ml-4" />
      </div>

      <h1 class="mx-4 w-max whitespace-nowrap text-center font-medium sm:mx-7">
        Il software 100% custom.
      </h1>
      <div class="inline-flex items-end">
        <Icon name="red-rectangle" class="h-5" />
        <Icon
          name="blue-rectangle"
          class="ml-8 hidden w-5 hover:text-black sm:block"
        />
        <Icon name="white-rectangle" class="ml-2 mr-5 hidden w-5 md:block" />
        <Icon name="black-rectangle" class="ml-12 hidden h-5 xl:block" />
      </div>
    </section>
    <section
      class="mt-16 grid grid-cols-1 gap-8 px-6 sm:grid-cols-2 sm:px-10 md:px-14 xl:mt-32 2xl:grid-cols-4"
    >
      {
        markets.map((market) => (
          <TargetMarket
            title={market.title}
            subtitle={market.subtitle}
            icon={market.icon}
            iconClasses={market.iconClasses}
            paragraphs={market.paragraphs}
          />
        ))
      }

      <section class="mt-20 flex flex-col items-center px-6 sm:px-10 md:px-14">
        <div class="relative">
          <Icon
            name="red-rectangle"
            class="absolute -left-10 top-10 h-5 2xl:left-20"
          />
          <Icon
            name="blue-rectangle"
            class="absolute top-24 hidden w-5 lg:-left-52 lg:block 2xl:-left-36"
          />

          <h2 class="px-4 text-center leading-none sm:px-10 lg:px-14 2xl:px-52">
            Questi sono solo alcuni esempi di quello che possiamo realizzare
            insieme: raccontaci quello di cui hai bisogno e costruiremo la
            soluzione su misura per raggiungere i tuoi obiettivi.
          </h2>
        </div>
        <a
          href="mailto:info@soluter.it"
          class="bg-soluter-purple-500 hover:bg-soluter-purple-500/90 btn mt-12 px-8 py-1 text-white"
          >Contattaci</a
        >
      </section>
      <div class="relative mt-24">
        <Icon
          name="blocks/orange-black-down-stair"
          class="absolute -top-5 left-10 w-10 sm:left-14 2xl:left-96"
        />
        <hr class="w-full border-0 border-b-4 border-black" />
        <Icon
          name="green-rectangle"
          class="absolute -top-[16px] right-24 h-5 sm:-top-[28px] sm:right-44 2xl:right-96"
        />
        <Icon
          name="white-rectangle"
          class="absolute -top-[16px] right-14 h-5 sm:-top-[28px] sm:right-36 2xl:right-80"
        />
        <Icon
          name="purple-rectangle"
          class="absolute -top-[84px] hidden w-4 lg:right-14 lg:block 2xl:right-44"
        />
      </div>
      <section>aa</section>
    </section>
    <section class="mt-16 grid grid-rows-1 justify-center gap-[73px]">
      {
        faqs.map((faq) => (
          <TargetFaq title={faq.title} paragraphs={faq.paragraphs} />
        ))
      }
    </section>
    <section class="mt-20 flex flex-col items-center px-6 sm:px-10 md:px-14">
      <div class="relative">
        <Icon
          name="red-rectangle"
          class="absolute -left-10 top-10 h-5 2xl:left-20"
        />
        <Icon
          name="blue-rectangle"
          class="absolute top-24 hidden w-5 lg:-left-52 lg:block 2xl:-left-36"
        />

        <h2 class="px-4 text-center leading-none sm:px-10 lg:px-14 2xl:px-52">
          Questi sono solo alcuni esempi di quello che possiamo realizzare
          insieme: raccontaci quello di cui hai bisogno e costruiremo la
          soluzione su misura per raggiungere i tuoi obiettivi.
        </h2>
      </div>
      <a
        href="mailto:info@soluter.it"
        class="bg-soluter-purple-500 hover:bg-soluter-purple-500/90 btn mt-12 px-8 py-1 text-white"
        >Contattaci</a
      >
    </section>
    <div class="relative mt-24">
      <Icon
        name="blocks/orange-black-down-stair"
        class="absolute -top-5 left-10 w-10 sm:left-14 2xl:left-96"
      />
      <hr class="w-full border-0 border-b-4 border-black" />
      <Icon
        name="green-rectangle"
        class="absolute -top-[16px] right-24 h-5 sm:-top-[28px] sm:right-44 2xl:right-96"
      />
      <Icon
        name="white-rectangle"
        class="absolute -top-[16px] right-14 h-5 sm:-top-[28px] sm:right-36 2xl:right-80"
      />
      <Icon
        name="purple-rectangle"
        class="absolute -top-[84px] hidden w-4 lg:right-14 lg:block 2xl:right-44"
      />
    </div>
    <section>aa</section>
    <Footer />
  </main>
</Layout>
