---
import { Icon } from "astro-icon";
import { twMerge } from "tailwind-merge";
interface Props {
  name: string;
  icon: string;
  iconClasses: string;
  sections: {
    title: string;
    icon: string;
    iconClasses: string;
    underlineClass: string;
    paragraphs: string[];
  }[];
}

const props = Astro.props;
---

<div class="w-[300px] lg:w-auto">
  <div class="relative inline-flex h-8 items-end space-x-4">
    <h2 class="font-bold leading-none">{props.name}</h2>
    <Icon name={props.icon} class={twMerge("w-5", props.iconClasses)} />
  </div>
  {
    props.sections.map((section) => (
      <div class="mb-10 mt-10">
        <div class="flex items-end space-x-3">
          <Icon
            name={section.icon}
            class={twMerge("-mb-[5px] w-4", section.iconClasses)}
          />
          <p class={`${section.underlineClass} font-bold`}>{section.title}</p>
        </div>
        <div class="ml-6 mt-5">
          {section.paragraphs.map((paragraph) => (
            <p class="whitespace-nowrap">{paragraph}</p>
          ))}
        </div>
      </div>
    ))
  }
</div>
