---
import { Icon } from "astro-icon";
import { twMerge } from "tailwind-merge";
import Collapse from "./Collapse.astro";
interface Props {
  name: string;
  icon: string;
  iconClasses: string;
  sections: {
    title: string;
    icon: string;
    iconClasses: string;
    underlineClass: string;
    paragraphs: string[];
  }[];
}

const props = Astro.props;
---

<Collapse containerClass="w-full">
  <div
    class="relative flex h-12 w-full items-center justify-center space-x-4 xl:h-8 xl:justify-normal"
    slot="title"
  >
    <h3 class="font-bold xl:pl-6" set:html={props.name} />
    <Icon name={props.icon} class={twMerge("w-5", props.iconClasses)} />
  </div>
  <div slot="content">
    {
      props.sections.map((section) => (
        <div class="mb-10 mt-10">
          <div class="mx-auto flex items-end space-x-3 md:px-14 xl:px-7">
            <Icon
              name={section.icon}
              class={twMerge("-mb-[5px] w-4", section.iconClasses)}
            />
            <h4 class={`${section.underlineClass} font-bold`}>
              {section.title}
            </h4>
          </div>
          <div class="ml-6 mt-5 md:px-14 lg:px-0 2xl:px-8">
            {section.paragraphs.map((paragraph) => (
              <p class="">{paragraph}</p>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</Collapse>
