---
import { Icon } from "astro-icon";
import { twMerge } from "tailwind-merge";
interface Props {
  name: string;
  icon: string;
  iconClasses: string;
  sections: {
    title: string;
    icon: string;
    iconClasses: string;
    underlineClass: string;
    paragraphs: string[];
  }[];
}

const props = Astro.props;
---

<details class="group rounded" open>
  <summary
    class="relative flex cursor-pointer list-none flex-wrap items-center justify-center rounded focus-visible:outline-none xl:justify-start"
  >
    <div
      class="relative flex h-8 items-center justify-center space-x-4 lg:justify-normal"
    >
      <h3 class="font-bold xl:pl-6">{props.name}</h3>
      <Icon name={props.icon} class={twMerge("w-5", props.iconClasses)} />
    </div>
    <Icon
      name="caret"
      class="ml-1 inline-block h-4 w-4 -rotate-90 transition-transform group-open:rotate-0"
    />
  </summary>
  {
    props.sections.map((section) => (
      <div class="mb-10 mt-10">
        <div class="mx-auto flex items-end space-x-3 md:px-14 xl:px-7">
          <Icon
            name={section.icon}
            class={twMerge("-mb-[5px] w-4", section.iconClasses)}
          />
          <h4 class={`${section.underlineClass} font-bold`}>{section.title}</h4>
        </div>
        <div class="ml-6 mt-5 md:px-14 lg:px-0 2xl:px-8">
          {section.paragraphs.map((paragraph) => (
            <p class="">{paragraph}</p>
          ))}
        </div>
      </div>
    ))
  }
</details>
